{{ range .Site.Params.publication.types }}
{{ $type := . }}
<div class="accordion-group">
  <div class="px-2">
    <h2 class="accordion{{ if $type.expand }} active{{ end }}">
      <p onclick="expandAccordion(this)" style="cursor:pointer">
        <i class="{{ $type.icon }}"></i> {{ $type.title }}
      </p>
    </h2>
    <div class="panel overflow-hidden px-2 ml-2">
      {{ range $.Site.Params.publication.list }}
        {{ if eq .type $type.title }}
          <p class="foo indent-8">
            {{ range $.Site.Params.publication.format }}
              {{ partial "accordion/supportingPartials/addTitle" (dict "all" $ .) }}
            {{ end }}
          </p>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
